@import "tailwindcss";

/* Tailwind base imports */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* CSS Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Local font (Gilroy) */
  --font-sans: var(--font-nunito-sans), sans-serif;

  /* Google font via next/font (Nunito Sans) */
  --font-nunito: var(--font-nunito-sans);
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body defaults */
body {
  background-color: var(--background);
  color: var(--foreground);
/* font-family: var(--font-nunito), sans-serif; */
  @apply antialiased;
  background: linear-gradient(180deg, #03031F 50%, #261A8E 100%);

}

/* Headings use Nunito Sans */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito), sans-serif;
}
